.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.customer,
.consultations {
  border: 0;
}

.consultations .consultations-list  {
  height: 85vh;
}

.customer .card-body {
  flex: unset;
}

.customer .container {
  padding-bottom: 18px;
}

.customer .observations {
  font-style: italic;
  max-width: 240px;
  min-width: 240px;
}
 .customer .pets {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

.customer .pets .pets-header {
  font-size: 1.2em;
  padding-bottom: 6px;
  font-weight: bold;
}

.customer .pets .list-group-item {
  cursor: pointer;
}

.customer .pets .pet {
  margin-right: 20px;
}

.consultations .consultation {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 80vw;
  margin-right: 4px;
  margin-bottom: 4px;
}