.main-container {
  display: flex;
  flex-direction: row;
}

.customer,
.consultations {
  border: 0;
}

.customer .container {
  padding-bottom: 18px;
}

.customer .observations {
  font-style: italic;
  max-width: 240px;
  min-width: 240px;
}
 .customer .pets {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 1.4em;
}

.customer .pets .pet {
  margin-right: 20px;
}
