.image {
  background-image: url(../pets.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.image .logo {
  background-image: url(../logo.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: auto 30%;
  height: 100vh;
}

.image .logo h1 {
  text-align: center;
  padding-top: 30px;
}

.programmed-visits {
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
}
.programmed-visits .header {
  text-align: center;
}
