.image {
  height: 91vh;
  background-image: url(../pets.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.image .logo {
  background-image: url(../logo.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: auto 30%;
  height: 100%;
}

.image .logo h1 {
  text-align: center;
  padding-top: 30px;
}